
@{
    ViewBag.Title = "AdminPage";
}

<h2>Admin Page</h2>
<div class="list-group">
    <a href="@Url.Action("Create", "Employees")" class="list-group-item">Create Employee</a>
    <a href="@Url.Action("Edit", "Employees")" class="list-group-item">Update Employee Information</a>
    <a href="@Url.Action("Delete", "Employees")" class="list-group-item">Remove Employee</a>
    <a href="@Url.Action("Create", "Shifts")" class="list-group-item">Add Shift</a>
    <a href="@Url.Action("Edit", "Shifts")" class="list-group-item">Edit Shift</a>
    <a href="@Url.Action("Delete", "Shifts")" class="list-group-item">Remove Shift</a>
    <a href="@Url.Action("Create", "Positions")" class="list-group-item">Create Position</a>
    <a href="@Url.Action("Delete", "Positions")" class="list-group-item">Remove Position</a>
</div>