
@{
    ViewBag.Title = "AdminPage";
}

<h2>Admin Page</h2>
<div class="list-group">
    <a href="@Url.Action("Create", "Employees")" class="list-group-item">Create Employee</a>
    <a href="@Url.Action("Index", "Employees")" class="list-group-item">List of Employee</a>
    <a href="@Url.Action("Create", "Shifts")" class="list-group-item">Add Shift</a>
    <a href="@Url.Action("Index", "Shifts")" class="list-group-item">List of Shifts</a>
    <a href="@Url.Action("Create", "Positions")" class="list-group-item">Create Position</a>
    <a href="@Url.Action("Index", "Positions")" class="list-group-item">List of Positions</a>
    <a href="@Url.Action("Index", "TimeCard")" class="list-group-item">Time Card Creation</a>
</div>